.menu-container {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}
