.todo-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.todo-container h1 {
  color: gray;
  font-size: 36px;
}
.todo-input-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
  width: 90vw;
  padding-bottom: 10px;
}
.toggle-btn {
  padding: 10px 20px;
  border-radius: 16px;
}
.toggle-btn-on {
  background-color: gold;
}

.container {
  display: flex;
  background-color: gold;
  flex-wrap: wrap;
  width: 450px;
}
.box {
  background-color: powderblue;
  width: 150px;
  height: 150px;
  font-size: 48px;
  color: white;
}
.box:hover {
  background-color: orange;
}

.tsag-agaar-container {
  border: 1px solid lightgray;
  padding: 16px;
}
.tsag-agaar-container button {
  font-size: 24px;
  padding: 8px;
}
.tsag-agaar {
  border: 1px solid lightgray;
  padding: 16px;
  margin-right: 16px;
}
.tsag-agaar p {
  background-color: lightblue;
  color: white;
  font-size: 32px;
}

.flex-container {
  display: flex;
}
.city-selected {
  background-color: lightblue;
  color: white;
}
