body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  flex-direction: row;
  background-image: url("assets/images/bg.jpg");
  background-size: cover;
}
.left {
  flex: 1;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  transition: transform 0.5s, background 0.5s;
}
.left:hover {
  transform: scale(1.2);
  background-color: beige;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 60px;
  transition: transform 0.5s, background 1s;
}
.pro:hover {
  /* transform: rotate(45deg); */
  /* transform: scale(1.5); */
  transform: scale(1.5);
  /* transform: skew(-15deg); */
  /* transform: translate(-200px) scale(0.5); */
  /* perspective: 200px; */
  /* transform: perspective(200px) translateZ(50px); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 15px;
  box-shadow: 60px 11px 119px -7px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 60px 11px 119px -7px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 60px 11px 119px -7px rgba(0, 0, 0, 0.61);
}
.menu-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.5rem;
}
.list li {
  margin-right: 1.5rem;
}
.logo {
  height: 60px;
}
.box {
  height: 100vh;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.box-2 {
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
