.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #ffcc00;
}

.container {
  display: flex;
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #333; */
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.color1 {
  background: linear-gradient(to bottom right, #ff7f00, #ffcc00);
}
.color2 {
  background: linear-gradient(to bottom, #141e30, #243b55);
  color: white;
}
.color3 {
  background: linear-gradient(to bottom, #d4e4f7, #e9f2fe);
}
.color4 {
  background: linear-gradient(to bottom, #ff416c, #ff4b2b);
  color: white;
}
.color5 {
  background: linear-gradient(to bottom, #74ebd5, #acb6e5);
}

h1 {
  color: green;
}
.bigText {
  font-size: 30px;
}
